.dotContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.dot {
  width: 0.3rem;
  height: 0.35rem;
  margin-right: 0.15rem;
  animation: bounce 0.6s infinite alternate;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  to {
    transform: translateY(-5px);
  }
  from {
    transform: translateY(5px);
  }
}
