# Default owners
* @pagopa/devportal-maintain

# Website
apps/nextjs-website/ @MarcoPonchia @marcobottaro @tommaso1

# CMS
apps/strapi-cms/ @MarcoPonchia @marcobottaro @tommaso1

# Email templates
apps/cognito-functions/src/templates/ @MarcoPonchia @marcobottaro @tommaso1

# GitBook docs
packages/gitbook-docs/ @MarcoPonchia @marcobottaro @tommaso1

# Lint rules
**/.eslintrc.json @pagopa/devportal-maintain

.changeset/README.md @pagopa/devportal-maintain
.changeset/config.json @pagopa/devportal-maintain

# No owner is required for changeset files
.changeset/*

# Required to merge Push next releases PR
package-lock.json @pagopa/devportal-maintain @MarcoPonchia @marcobottaro @tommaso1
**/package.json @pagopa/devportal-maintain @MarcoPonchia @marcobottaro @tommaso1
**/CHANGELOG.md @pagopa/devportal-maintain @MarcoPonchia @marcobottaro @tommaso1
