# Default owners
* @datalek @kin0992

# Frontend codeowners
apps/nextjs-website/public/icons/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/public/images/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/_contents/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/app/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/components/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/editorialComponents/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/lib/types/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/messages/ @MarcoPonchia @marcobottaro @tommaso1
apps/nextjs-website/src/styles/ @MarcoPonchia @marcobottaro @tommaso1
