EXT_INPUT_FOLDER=./input
EXT_OUTPUT_FOLDER=./output
EXT_AWS_GOOGLE_API_KEY=your_google_api_key_here
EXT_MODEL_ID=gemini-2.5-flash-lite
EXT_MODEL_TEMPERATURE=0.3
EXT_MODEL_MAXTOKENS=4096
EXT_PROVIDER=google
LOG_LEVEL=info
