# AWS Configuration
AWS_DEFAULT_REGION=eu-south-1

# Required
EXT_INPUT_FOLDER=input_folder
EXT_OUTPUT_FOLDER=output_folder

# LLM Configuration (optional, with defaults)
CHB_MODEL_ID=gemini-2.5-flash-lite
CHB_MODEL_TEMPERATURE=0.0
CHB_MODEL_MAXTOKENS=65535
CHB_PROVIDER=google # allowed: google, mock

# Optional (either of the two needs to be specified if provider is not mock)
CHB_AWS_GOOGLE_API_KEY=google_api_key
CHB_AWS_SSM_GOOGLE_API_KEY=/local/google_api_key

# Logging (optional, default: info)
LOG_LEVEL=info
