CHB_AWS_GOOGLE_API_KEY=google_api_key
CHB_AWS_SSM_GOOGLE_API_KEY=/local/google_api_key
CHB_MODEL_ID=gemini-2.5-flash-lite
CHB_MODEL_TEMPERATURE=0.3
CHB_MODEL_MAXTOKENS=4096
CHB_PROVIDER=google
EXT_INPUT_FOLDER=./input
EXT_OUTPUT_FOLDER=./output
