* {
  scrollbar-color: initial;
  scrollbar-width: initial;
  font-family: var(--font-titillium-web)!important;
}

.video-js * {
  font-family: 'VideoJS'!important;
}

body {
  background-color: white;
  margin: 0;
  --scrollbar-foreground: #dfe2e5;
  --scrollbar-background: transparent;
  scrollbar-color: var(--scrollbar-foreground) var(--scrollbar-background);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-foreground);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar:horizontal {
  height: 8px;
}

.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
  top: unset !important;
  bottom: 57px !important;
}

@media (min-width: 900px) {
  .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 73px !important;
  }
}

.swiper-pagination-bullet {
  width: 40px !important;
  height: 4px !important;
  border-radius: 25px !important;
  text-align: center !important;
  opacity: 0.5 !important;
  background-color: white !important;
}

.swiper-pagination-bullet-active {
  opacity: 1 !important;
}

.syntax-highlighter-container {
  border-radius: 0 0 0.375rem 0.375rem;
}

@media (min-width: 900px) {
  .syntax-highlighter-container {
    border-radius: 0 0.375rem 0.375rem 0;
  }
}

@media only screen and (min-width: 768px) {
  .otnotice-content {
    margin: -750px auto 0 auto !important;
  }
}

.otnotice-menu {
  position: sticky !important;
  top: 130px !important;
}

#onetrust-consent-sdk #onetrust-banner-sdk *:focus, #onetrust-consent-sdk #onetrust-banner-sdk:focus {
  outline: none;
}

.ot-sdk-container {
  font-family: "Titillium Web", sans-serif !important;
}

@media only screen and (min-width: 1024px) {
  #onetrust-banner-sdk #onetrust-button-group {
    margin-right: 30%;
  }
}

@media only screen and (min-width: 1280px) {
  #onetrust-banner-sdk #onetrust-button-group {
    margin-right: auto;
  }
}

@media only screen and (min-width: 1024px) {
  #onetrust-banner-sdk #onetrust-accept-btn-handler, #onetrust-banner-sdk #onetrust-reject-all-handler, #onetrust-banner-sdk #onetrust-pc-btn-handler {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 1280px) {
  #onetrust-banner-sdk #onetrust-accept-btn-handler, #onetrust-banner-sdk #onetrust-reject-all-handler, #onetrust-banner-sdk #onetrust-pc-btn-handler {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

iframe {
  border: none;
}
