.vjs-theme-custom {
  --vjs-theme-custom--primary: #017be4;
  --vjs-theme-custom--secondary: #fff;
}

.vjs-menu-item-text,
.vjs-volume-tooltip,
.vjs-time-tooltip,
.vjs-live-display {
  font-family: var(--font-titillium-web) !important;
}

.vjs-theme-custom .vjs-big-play-button {
  width: 70px;
  height: 70px;
  background: none;
  line-height: 70px;
  font-size: 80px;
  border: none;
  top: 50%;
  left: 50%;
  margin-top: -35px;
  margin-left: -35px;
  color: var(--vjs-theme-custom--primary);
}

.vjs-theme-custom:hover .vjs-big-play-button,
.vjs-theme-custom.vjs-big-play-button:focus {
  background-color: transparent;
  color: #fff;
}

.vjs-theme-custom .vjs-control-bar {
  height: 54px;
}

.vjs-theme-custom .vjs-button > .vjs-icon-placeholder::before {
  line-height: 54px;
}

.vjs-theme-custom .vjs-time-control {
  line-height: 54px;
}

/* Play Button */
.vjs-theme-custom .vjs-play-control {
  font-size: 1.5em;
  position: relative;
}

.vjs-theme-custom .vjs-volume-panel {
  order: 4;
}

.vjs-theme-custom .vjs-volume-bar {
  margin-top: 2.5em;
}

.vjs-theme-city
  .vjs-volume-panel:hover
  .vjs-volume-control.vjs-volume-horizontal {
  height: 100%;
}

.vjs-theme-custom .vjs-progress-control .vjs-progress-holder {
  font-size: 1.5em;
}

.vjs-theme-custom .vjs-progress-control:hover .vjs-progress-holder {
  font-size: 1.5em;
}

.vjs-theme-custom .vjs-play-control .vjs-icon-placeholder::before {
  height: 1.3em;
  width: 1.3em;
  margin-top: 0.2em;
  border-radius: 1em;
  border: 3px solid var(--vjs-theme-custom--secondary);
  top: 2px;
  left: 9px;
  line-height: 1.1;
}

.vjs-theme-custom .vjs-play-control:hover .vjs-icon-placeholder::before {
  border: 3px solid var(--vjs-theme-custom--secondary);
}

.vjs-theme-custom .vjs-play-progress {
  background-color: var(--vjs-theme-custom--primary);
}

.vjs-theme-custom .vjs-play-progress::before {
  height: 0.8em;
  width: 0.8em;
  content: "";
  background-color: var(--vjs-theme-custom--primary);
  border: 4px solid var(--vjs-theme-custom--secondary);
  border-radius: 0.8em;
  top: -0.25em;
}

.vjs-theme-custom .vjs-progress-control {
  font-size: 14px;
}

.vjs-theme-custom .vjs-fullscreen-control {
  order: 6;
}

.vjs-theme-custom .vjs-remaining-time {
  display: none;
}
