AWS_ENDPOINT_URL=http://motoserver:5000
CHB_AWS_SQS_QUEUE_EVALUATE_NAME=chatbot-evaluate
CHB_AWS_SQS_QUEUE_MONITOR_NAME=chatbot-monitor
CHB_AWS_SSM_GOOGLE_API_KEY=/local/google_api_key
CHB_EMBED_BATCH_SIZE=100
CHB_EMBED_MODEL_ID=gemini-embedding-001
CHB_EMBEDDING_DIM=768
CHB_MODEL_ID=gemini-2.5-flash-lite
CHB_MODEL_MAXTOKENS=2048
CHB_MODEL_TEMPERATURE=0.0
CHB_PROVIDER=google
CHB_VERTEXAI_LOCATION=europe-west8
ENVIRONMENT=local
GIT_PYTHON_REFRESH=quiet
LOG_LEVEL=info
