AWS_ENDPOINT_URL=http://motoserver:5000
CHB_AWS_SQS_QUEUE_EVALUATE_NAME=chatbot-evaluate
CHB_AWS_SQS_QUEUE_MONITOR_NAME=chatbot-monitor
CHB_AWS_SSM_LANGFUSE_PUBLIC_KEY=/local/langfuse_public_key
CHB_AWS_SSM_LANGFUSE_SECRET_KEY=/local/langfuse_secret_key
CHB_LANGFUSE_HOST=http://langfuse-web:3000
CHB_MAX_DAILY_EVALUATIONS=200
CHB_QUERY_TABLE_PREFIX=chatbot
LAMBDA_TASK_ROOT=/var/task
LANGFUSE_INIT_PROJECT_PUBLIC_KEY=pk-xxx
LANGFUSE_INIT_PROJECT_SECRET_KEY=sk-xxx
LOG_LEVEL=debug
MOTO_PORT=5000
PYTHONPATH=/var/task
TELEMETRY_ENABLED=true
