---
services:
  api:
    build:
      context: ..
      dockerfile: docker/app.Dockerfile
    env_file: ../.env.local
    ports:
      - "8080:8080"
    volumes:
      - ..:/app
      - ./files/.aws:/root/.aws
      - ../../nextjs-website/out:/app/build-devp/out
    depends_on:
      redis:
        condition: service_started
      dynamodb:
        condition: service_started
      langfuse:
        condition: service_started
      motoserver:
        condition: service_started
    networks:
      - ntw

  create-redis-index:
    build:
      context: ..
      dockerfile: docker/app.local.Dockerfile
    command: "poetry run python src/modules/create_vector_index.py --params config/params.yaml"
    env_file: "../.env.local"
    volumes:
      - ./files/.aws:/root/.aws
      - ../../nextjs-website/out:/app/build-devp/out
    depends_on:
      redis:
        condition: service_started
      motoserver:
        condition: service_started
    networks:
      - ntw

  postgres:
    image: postgres:17.2-alpine@sha256:7e5df973a74872482e320dcbdeb055e178d6f42de0558b083892c50cda833c96
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 3s
      timeout: 3s
      retries: 10
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file: ../.env.local
    networks:
      - ntw

  dynamodb:
    image: amazon/dynamodb-local:2.5.2@sha256:d7ebddeb60fa418bcda218a6c6a402a58441b2a20d54c9cb1d85fd5194341753
    environment:
      - AWS_ACCESS_KEY_ID=dummy
      - AWS_SECRET_ACCESS_KEY=dummy
      - AWS_DEFAULT_REGION=local
    networks:
      - ntw

  redis:
    image: redis/redis-stack:7.2.0-v13@sha256:2b000b938e407d14acafa9b7affd4c5a94ceeec572b25b15dcef0d3a6c064d7e
    ports:
      - "6379:6379"
      - "8001:8001"
    volumes:
      - redis_data:/data
    networks:
      - ntw

  langfuse:
    image: langfuse/langfuse:2@sha256:85c278dcab96c15db94191a5c1664f85aba2d7fb6771a00e99681c902c4b7015
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "4001:3000"
    env_file: ../.env.local
    networks:
      - ntw

  jupyter:
    build:
      context: ..
      dockerfile: docker/app.local.Dockerfile
    ports:
      - 8888:8888
    env_file: ../.env.local
    depends_on:
      redis:
        condition: service_started
      langfuse:
        condition: service_started
    command: jupyter-lab --no-browser --allow-root --ip=0.0.0.0
    networks:
      - ntw

  motoserver:
    image: motoserver/moto:5.1.0@sha256:aaf5f4a72412b753b2115417e26360612564d3a29b1831f9316708e15138d699
    networks:
      - ntw
volumes:
  postgres_data:
    driver: local
  redis_data:
    driver: local

networks:
  ntw:
