---
name: chatbot-test

services:
  api-test:
    build:
      context: ..
      dockerfile: docker/app.test.Dockerfile
    command: "./scripts/run.test.sh"
    env_file: ../.env.test
    volumes:
      - ..:/app
      - ./files/.aws:/root/.aws
    depends_on:
      motoserver:
        condition: service_started
      langfuse-test:
        condition: service_started
      redis-test:
        condition: service_started
    networks:
      - ntwtest

  postgres-test:
    image: postgres:17.2-alpine
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 3s
      timeout: 3s
      retries: 10
    env_file: ../.env.test
    networks:
      - ntwtest

  redis-test:
    image: redis/redis-stack:7.2.0-v13
    volumes:
      - ./files/redis-dump.rdb:/data/dump.rdb
    networks:
      - ntwtest
    environment:
      REDIS_ARGS: "--save '' --appendonly no --stop-writes-on-bgsave-error no"

  langfuse-test:
    image: langfuse/langfuse:2
    depends_on:
      postgres-test:
        condition: service_healthy
    env_file: ../.env.test
    ports:
      - "4002:3000"
    networks:
      - ntwtest

  motoserver:
    image: motoserver/moto:5.1.14
    ports:
      - "3002:3000"
    environment:
      - MOTO_PORT=3002
    networks:
      - ntwtest

networks:
  ntwtest:
    driver: bridge
