AWS_ENDPOINT_URL=http://motoserver:5000
AWS_LAMBDA_FUNCTION_TIMEOUT=900
CHB_AWS_GOOGLE_API_KEY=xxx
CHB_AWS_S3_BUCKET_NAME_STATIC_CONTENT=static-content
CHB_AWS_SSM_GOOGLE_API_KEY=/local/google_api_key
CHB_EMBED_BATCH_SIZE=100
CHB_EMBED_MODEL_ID=gemini-embedding-001
CHB_EMBED_RETRIES=30
CHB_EMBED_RETRY_MIN_SECONDS=1.5
CHB_EMBEDDING_DIM=768
CHB_LANGUAGE_CODE_STATIC_FILES=it
CHB_MODEL_ID=gemini-2.5-flash-lite
CHB_MODEL_MAXTOKENS=2048
CHB_MODEL_TEMPERATURE=0.3
CHB_PROVIDER=google
CHB_REDIS_URL=redis://redis:6379
CHB_WEBSITE_URL=https://dev.developer.pagopa.it
LOG_LEVEL=DEBUG
MOTO_PORT=5000
PYTHONPATH=/var/task
