name: Deploy Lambda Active Campaign Syncer
run-name: Deploy Lambda Active Campaign Syncer to ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.environment || 'dev' }}

on:
  push:
    branches:
      - "main"
    paths:
      - "packages/active-campaign-client/**"
      - ".github/workflows/deploy_ac_sync_lambda.yaml"
  workflow_dispatch:
    inputs:
      environment:
        description: 'Choose environment'
        type: choice
        required: true
        default: dev
        options:
          - dev
          - uat
          - prod

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout code
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Setup node
        uses: actions/setup-node@3235b876344d2a9aa001b8d1453c930bba69e610 # v3
        with:
          node-version: '20.x'
      
      - name: Install dependencies
        run: npm install

      - name: Build
        working-directory: packages/active-campaign-client
        run: npm run build

      - name: Package
        working-directory: packages/active-campaign-client/dist
        run: zip -r function.zip .

      - name: Archive build artifacts
        uses: actions/upload-artifact@65c4c4a1ddee5b72f698fdd19549f0f0fb45cf08 # v4.6.0
        with:
          name: active-campaign-client
          path: packages/active-campaign-client/dist/function.zip

  deploy:
    name: Deploy Lambda Active Campaign Syncer
    runs-on: ubuntu-22.04
    needs: build

    environment: ${{ github.event.inputs.environment || 'dev' }}
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download build artifacts
        uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v4.1.8
        with:
          name: active-campaign-client
          path: ./packages/active-campaign-client/target

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@5fd3084fc36e372ff1fff382a39b10d03659f355 # v2
        with:
          role-to-assume: ${{ secrets.DEPLOY_IAM_ROLE }}
          aws-region: eu-south-1

      - name: Deploy Lambda function (${{ github.event.inputs.environment || 'dev' }})
        run: |
          aws lambda update-function-code \
          --function-name ac-${{ github.event.inputs.environment || 'dev' }}-sync-lambda \
          --zip-file fileb://packages/active-campaign-client/target/function.zip

      - name: Deploy Lambda function (${{ github.event.inputs.environment || 'dev' }})
        run: |
          aws lambda update-function-code \
          --function-name ac-${{ github.event.inputs.environment || 'dev' }}-resync-lambda \
          --zip-file fileb://packages/active-campaign-client/target/function.zip
