name: Sync GitBook Docs (Optimized)

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'The environment used as target'
        type: choice
        required: true
        default: dev
        options:
          - dev
          - uat
          - prod
      metadata_type:
        description: 'Type of metadata to generate'
        type: choice
        required: true
        default: all
        options:
          - all
          - guides
          - solutions
          - release_notes
      incremental_mode:
        description: 'Run sync in incremental mode by checking only file size'
        type: boolean
        required: true
        default: true
      invalidate_opennext_cache:
        description: 'Invalidate opennext cloufront cache'
        type: boolean
        required: true
        default: false
      generate_root_metadata_file:
        description: 'Generate root metadata file alongside folder-specific ones'
        type: boolean
        required: true
        default: true
      dir_names_filter:
        description: 'Comma-separated list of dirNames to sync (leave empty to sync all)'
        type: string
        required: false
        default: ''

  # schedule:
  #   - cron: '0 23 * * *'  # Run daily at midnight UTC

permissions:
  id-token: write
  contents: read

jobs:
  manual_sync_gitbook_docs:
    name: Sync gitbook Docs to S3 (manual on ${{ inputs.environment }})
    if: github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    outputs:
      environment: ${{ inputs.environment }}
    environment: ${{ inputs.environment }}
    env:
      ENV_SHORT: ${{ fromJSON('{"dev":"d","uat":"u","prod":"p"}')[inputs.environment] }}
      SITEMAP_URL: https://${{ fromJSON('{"dev":"dev.","uat":"uat.","prod":""}')[inputs.environment] }}developer.pagopa.it/sitemap.xml

    steps:
      - name: Checkout current repository
        uses: actions/checkout@v4

      - name: Checkout devportal-docs repo
        uses: actions/checkout@v4
        with:
          repository: pagopa/devportal-docs
          ref: docs/from-gitbook
          path: devportal-docs

      - name: Setup Node.JS
        uses: ./.github/actions/setup-node

      - name: Cache npm dependencies
        id: cache-npm
        uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684
        with:
          path: ~/.npm
          key: ${{ runner.os }}-npm-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-npm-

      - name: Install dependencies
        run: |
          npm config set cache ~/.npm
          npm ci

      - name: Compile packages
        run: npm run compile

      - name: Configure AWS Credentials
        uses: ./.github/actions/configure-aws-credentials
        with:
          aws_region: eu-south-1
          role_to_assume: ${{ secrets.DEPLOY_IAM_ROLE }}

      - name: Generate all metadata
        env:
          ENVIRONMENT: ${{ inputs.environment }}
          DOCUMENTATION_PATH: ${{ vars.DOCUMENTATION_PATH || '../../devportal-docs/docs' }}
          URL_PARSING_METADATA_JSON_PATH: ${{ vars.URL_PARSING_METADATA_JSON_PATH || '../../url-parsing-metadata.json' }}
          STRAPI_ENDPOINT: ${{ vars.STRAPI_ENDPOINT }}
          STRAPI_API_TOKEN: ${{ secrets.STRAPI_API_TOKEN }}
          S3_BUCKET_NAME: devportal-${{ env.ENV_SHORT }}-website-static-content
          S3_DOC_EXTRACTION_BUCKET_NAME: ${{ vars.S3_DOC_EXTRACTION_BUCKET_NAME }}
          S3_PATH_TO_GITBOOK_DOCS: ${{ vars.S3_PATH_TO_GITBOOK_DOCS || 'devportal-docs/docs' }}
          NEXT_PUBLIC_COGNITO_REGION: ${{ vars.NEXT_PUBLIC_COGNITO_REGION || 'eu-south-1' }}
          FETCH_FROM_STRAPI: ${{ vars.FETCH_FROM_STRAPI || 'true' }}
          GENERATE_ROOT_METADATA_FILE: ${{ inputs.generate_root_metadata_file == true && 'true' || 'false' }}
          GENERATE_URL_METADATA: 'true'
          GENERATE_SITEMAP_METADATA: 'true'
          SAVE_STRAPI_RESPONSES: 'true'
          METADATA_TYPE: ${{ inputs.metadata_type }}
          DIR_NAMES_FILTER: ${{ inputs.dir_names_filter }}
          SITEMAP_URL: ${{ env.SITEMAP_URL || 'https://developer.pagopa.it/sitemap.xml' }}
          S3_DIRNAME_METADATA_JSON_PATH: ${{ vars.S3_DIRNAME_METADATA_JSON_PATH }}
        run: npm run sync-all-metadata -w gitbook-docs

      - name: Replace urls and include tags in docs
        if: inputs.generate_metadata_only == false
        env:
          ENVIRONMENT: ${{ inputs.environment }}
          DOCUMENTATION_PATH: ${{ vars.DOCUMENTATION_PATH || '../../devportal-docs/docs' }}
          URL_PARSING_METADATA_JSON_PATH: ${{ vars.URL_PARSING_METADATA_JSON_PATH || '../../url-parsing-metadata.json' }}
        run: npm run parse-docs -w gitbook-docs

      - name: Sync docs folder to S3
        if: inputs.generate_metadata_only == false
        working-directory: ./devportal-docs
        env:
          DIR_NAMES_FILTER: ${{ inputs.dir_names_filter }}
        run: |
          if [[ -n "$DIR_NAMES_FILTER" ]]; then
            IFS=',' read -ra DIRS <<< "$DIR_NAMES_FILTER"
            for dir in "${DIRS[@]}"; do
              dir=$(echo "$dir" | xargs)
              if [[ -n "$dir" ]]; then
                echo "Syncing directory: $dir"
                aws s3 sync "docs/$dir" "s3://devportal-${{ env.ENV_SHORT }}-website-static-content/devportal-docs/docs/$dir" --delete --exclude "metadata.json" ${{ inputs.incremental_mode == true && ' --size-only' || '' }}
              fi
            done
          else
            echo "Syncing all docs"
            aws s3 sync docs s3://devportal-${{ env.ENV_SHORT }}-website-static-content/devportal-docs/docs --delete --exclude "**/metadata.json" ${{ inputs.incremental_mode == true && ' --size-only' || '' }}
          fi

      - name: Invalidate CloudFront asset bucket cache
        run: |
          aws cloudfront create-invalidation \
            --distribution-id ${{ vars.ASSET_BUCKET_CLOUDFRONT_DISTRIBUTION_ID }} \
            --paths "/*"

  scheduled_sync_gitbook_docs:
    name: Sync gitbook Docs to S3 (scheduled on prod)
    if: github.event_name == 'schedule'
    runs-on: ubuntu-latest
    outputs:
      environment: 'prod'
    environment: 'prod'
    env:
      SITEMAP_URL: https://developer.pagopa.it/sitemap.xml

    steps:
      - name: Checkout current repository
        uses: actions/checkout@v4

      - name: Checkout devportal-docs repo
        uses: actions/checkout@v4
        with:
          repository: pagopa/devportal-docs
          ref: docs/from-gitbook
          path: devportal-docs

      - name: Setup Node.JS
        uses: ./.github/actions/setup-node

      - name: Cache npm dependencies
        id: cache-npm
        uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684
        with:
          path: ~/.npm
          key: ${{ runner.os }}-npm-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-npm-

      - name: Install dependencies
        run: |
          npm config set cache ~/.npm
          npm ci

      - name: Compile packages
        run: npm run compile

      - name: Configure AWS Credentials
        uses: ./.github/actions/configure-aws-credentials
        with:
          aws_region: eu-south-1
          role_to_assume: ${{ secrets.DEPLOY_IAM_ROLE }}

      - name: Generate all metadata
        env:
          ENVIRONMENT: 'prod'
          DOCUMENTATION_PATH: ${{ vars.DOCUMENTATION_PATH || '../../devportal-docs/docs' }}
          URL_PARSING_METADATA_JSON_PATH: ${{ vars.URL_PARSING_METADATA_JSON_PATH || '../../url-parsing-metadata.json' }}
          STRAPI_ENDPOINT: ${{ vars.STRAPI_ENDPOINT }}
          STRAPI_API_TOKEN: ${{ secrets.STRAPI_API_TOKEN }}
          S3_BUCKET_NAME: devportal-p-website-static-content
          S3_DOC_EXTRACTION_BUCKET_NAME: ${{ vars.S3_DOC_EXTRACTION_BUCKET_NAME }}
          S3_PATH_TO_GITBOOK_DOCS: ${{ vars.S3_PATH_TO_GITBOOK_DOCS || 'devportal-docs/docs' }}
          NEXT_PUBLIC_COGNITO_REGION: ${{ vars.NEXT_PUBLIC_COGNITO_REGION || 'eu-south-1' }}
          FETCH_FROM_STRAPI: ${{ vars.FETCH_FROM_STRAPI || 'true' }}
          GENERATE_ROOT_METADATA_FILE: ${{ inputs.generate_root_metadata_file == true && 'true' || 'false' }}
          GENERATE_URL_METADATA: 'true'
          GENERATE_SITEMAP_METADATA: 'true'
          SAVE_STRAPI_RESPONSES: 'true'
          METADATA_TYPE: 'all'
          SITEMAP_URL: 'https://developer.pagopa.it/sitemap.xml'
        run: npm run sync-all-metadata -w gitbook-docs

      - name: Replace urls and include tags in docs
        env:
          ENVIRONMENT: 'prod'
          DOCUMENTATION_PATH: ${{ vars.DOCUMENTATION_PATH || '../../devportal-docs/docs' }}
          URL_PARSING_METADATA_JSON_PATH: ${{ vars.URL_PARSING_METADATA_JSON_PATH || '../../url-parsing-metadata.json' }}
        run: npm run parse-docs -w gitbook-docs

      - name: Replace escaped tokens with backticks in docs
        env:
          DOCUMENTATION_PATH: ${{ vars.DOCUMENTATION_PATH || '../../devportal-docs/docs' }}
        run: npm run replace-escaped-tokens-with-backticks -w gitbook-docs

      - name: Sync docs folder to S3
        working-directory: ./devportal-docs
        run: |
          aws s3 sync docs s3://devportal-p-website-static-content/devportal-docs/docs --delete --exclude "**/metadata.json" --size-only

      - name: Invalidate CloudFront asset bucket cache
        run: |
          aws cloudfront create-invalidation \
            --distribution-id ${{ vars.ASSET_BUCKET_CLOUDFRONT_DISTRIBUTION_ID }} \
            --paths "/*"
